<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.niliv.mapper.ClazzMapper">
  	<select id="selById" resultType="Clazz">
  		select * from t_class where id=#{0}
  	</select>
  </mapper>